#topo {
	height: 200px;
	background-color: grey;
	left: 50%;

}

.btmenu{	/*BOTÃO DO MENU*/
	left: 50%;
	text-decoration:none;
	display:table-cell;
	width:100px;
	height:30px;
	margin:0px;
	padding:1px 5px 1px 5px;
	background-color:#222;
	text-align:center;
	vertical-align:middle;
	border-radius:10px;
	color: #bbb;
	font-family: Arial;
	font-size:10px;
	cursor: pointer;
}

.btmenu:hover {
	background-color: #c22;
	color: #FFF;
}

#s1, #s2, #s3, #s4, #s5 {
	width: 659px;
	position: absolute;
	opacity: 0%;
}
